# ======================
# OS
# ======================
.DS_Store
Thumbs.db

# ======================
# Editor
# ======================
.vscode/
.idea/

# ======================
# Environment
# ======================
.env

# ======================
# PHP
# ======================
vendor/

# ======================
# Logs & Cache
# ======================
*.log

# ======================
# Docker
# ======================
docker-data/
